.header {
  background-color: lightyellow;
}

.left {
  background-color: lightblue;
}

.right {
  background-color: pink;
}

.dollarInput {
  text-align: center;
  margin: auto;
}

h1 {
  text-align: center;

  margin: auto;
  margin-top: 5vmin;
}
