<div fxLayout="column">

  <div class="container">



  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">

    <h1 fxFlexAlign="center">
      {{title}}
    </h1>

  </div>

  <div class="intro">
    <h3>
      Writing a check?
       Give us an amount
        and we'll spell it out.
    </h3>
  </div>

  <div fxLayout="row" class="inputRow">

      <div class="dollarInput">
        <md-input-container>
          <input mdInput placeholder="Dollar Amount" value="0.00" [(ngModel)]="amount" (ngModelChange)="newAmount=convert(Number(amount))">
        </md-input-container>
      </div>

</div>

<div>
  <h3>{{newAmount}}</h3>
</div>

  </div>

</div>
