@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
  border-radius: 1vmin;
  background-color:lightyellow;
}

.header {
  background-color: lightyellow;
  padding-top: 5vmin;
  padding-bottom: 5vmin;
  text-decoration: underline;
  color: #E9C46A;
}

.dollarInput {
  text-align: center;
  margin: auto;
  background-color:lightyellow;
  padding: 5vmin;
}

h1 {
  text-align: center;
  margin: auto;
  text-shadow: 2px 2px #264653;
  color: #E9C46A;
  font-family: 'Lobster';
  font-size: 11vmin;
  letter-spacing: 10px;
}

h3 {
  text-align: center;
  margin: auto;
  text-shadow: 2px 2px #264653;
  color: #E9C46A;
  font-family: 'Lobster';
  font-size: 7vmin;
  letter-spacing: 10px;
}

.container {
  height: 100vmax;
}
